# PHPStorm
/.idea/

# VSCodeish
*.code-workspace

# Composer
/vendor/
/composer.phar

# Build data
.env
*.lock
/assets
/public
/var
/templates
/index.php
/*.latte

# Node
/node_modules/
package-lock.json