:root {
  --heading-font-family : 'Iosevka Workstation', sans-serif;
  /*--h1-size: ;*/
  --scroll-margin-top   : 10px;
  --heading-weight      : 500;
  --heading-line-height : 1.5em; /* 1.5 min, 5em max */
  --heading-group-gap   : 1.5em;
  --line-height         : 1.6em;
}

h1, .h1 {
  font-size : var(---h1-size);
}

h2, .h2 {
  font-size : var(---h2-size);
}

h3, .h3 {
  font-size : var(---h3-size);
}

h4, .h4 {
  font-size : var(---h4-size);
}

/* Single headings */
.heading {
  margin-block : calc(calc(var(--heading-line-height, 2em) - 1em) * -.5);
  font-family  : var(--font-family), sans-serif;
  font-weight  : var(--heading-weight);
  line-height  : var(--heading-line-height, 2em);
}

.heading .subheading {
  display      : block;
  margin-block : calc(calc(var(--line-height, 2em) - 1em) * -.5);
  font-size    : var(---h4-size);
  line-height  : var(--line-height, 2em);
}

/* Headings with sub-headings */
hgroup {
  display        : flex;
  flex-direction : column;
  gap            : var(--heading-group-gap);
}