:root {

  --color        : var(--baseline-300);
  --background   : var(--baseline-900);
  --shade        : var(--baseline-600);
  --outline      : var(--baseline-500);

  --intent       : var(--baseline-500);
  --intent-light : var(--baseline-700);
}

.intent\:primary {
  --intent       : var(--primary-500);
  --intent-light : var(--primary-600);
}

.intent\:success {
  --intent       : var(--success);
  --intent-light : var(--success-light);
}

.intent\:info {
  --intent       : var(--info);
  --intent-light : var(--info-lighter);
}

.intent\:notice {
  --intent       : var(--notice);
  --intent-light : var(--notice-light);
}

.intent\:warning {
  --intent       : var(--warning);
  --intent-light : var(--warning-lighter);
}

.intent\:danger {
  --intent       : var(--danger);
  --intent-light : var(--danger-light);
}