.icon {
  height: 1rem;
  width: 1rem;
}
.icon[direction=up] {
  rotate: 0deg;
}
.icon[direction=right] {
  rotate: 90deg;
}
.icon[direction=down] {
  rotate: 180deg;
}
.icon[direction=left] {
  rotate: 270deg;
}

.icon path.primary {
  color: orange;
}
.icon path.secondary {
  color: blue;
}