button.close {
  --thickness     : 1px;
  position        : relative;
  display         : flex;
  justify-content : center;
  align-items     : center;

  height          : 1.5rem;
  width           : 1.5rem;
  color           : var(--shade);

  cursor          : pointer;
  transition      : color 200ms ease-out;
}

button.close:hover,
button.close:focus-visible {
  color : var(--danger);
}

button.close::before, button.close::after {
  content          : '';
  height           : .5rem;
  outline          : var(--thickness) solid currentColor;
  transform-origin : center center;
}

button.close::before {
  transform : rotate(45deg);
}

button.close::after {
  transform : rotate(-45deg);
}