
:where( button, a, [type="button"], [type="submit"], [type="reset"]).button {
  gap                         : .75ch;
  padding-block               : .5ch;
  padding-inline              : .75ch;
  box-shadow    : 0 2px 6px -2px var(--shadow), 0 2px 1.25em -5px var(--shadow-light);
  border-radius : .2em;
}

button, a.button, [type="button"], [type="submit"], [type="reset"] {

  --transition                : opacity 145ms ease, outline-offset 145ms ease;

  /* Interaction */
  cursor                      : pointer;
  touch-action                : manipulation;
  -webkit-user-select         : none;
  -moz-user-select            : none;
  -ms-user-select             : none;
  user-select                 : none;
  -webkit-tap-highlight-color : transparent;
  -webkit-touch-callout       : none;

  /* Box */
  z-index                     : 15;
  position                    : relative;
  display                     : inline-flex;
  justify-content             : center;
  align-items                 : center;
  text-align                  : center;

  /* Font */
  font-size                   : var(--font-size, 1rem);
  font-weight                 : var(--font-regular);
  color                       : var(--color);

}

/* Button Icon */
:where(button, a.button, [type="button"], [type="submit"], [type="reset"] ) > :where(svg.icon,[data-icon]) {
  block-size  : var(--icon-size);
  inline-size : var(--icon-size);
  fill        : var(--intent);
}

:where(button, a.button, [type="button"], [type="submit"], [type="reset"] ) > span {
  padding-block-start : 1px;
  line-height         : 1.5rem;
}

/* Background / Outline */

/* Outline */
:where(button, a.button, [type="button"], [type="submit"], [type="reset"] ).outline::before {
  z-index        : -5;
  outline        : .75ch solid var(--intent-light);
  outline-offset : -.75ch;
}

:where(button, a.button, [type="button"], [type="submit"], [type="reset"] ).outline::before,
:where(button, a.button, [type="button"], [type="submit"], [type="reset"] )::after {
  content            : '';
  position           : absolute;
  top                : 0;
  right              : 0;
  bottom             : 0;
  left               : 0;
  border-radius      : inherit;
  /* Animation */
  -webkit-transition : var(--transition);
  transition         : var(--transition);
}

/* Background */

:where(button, a.button, [type="button"], [type="submit"], [type="reset"] )::after {
  z-index    : -2;
  background : var(--background);
}

:where(button, a.button, [type="button"], [type="submit"], [type="reset"] ):not(.outline)::after {
  background : var(--intent-light);
  opacity    : .5;
}

:where(button, input[type="button"], input[type="submit"], input[type="reset"]):not(.outline):where(:not(:active):hover)::after {
  opacity : .25;
}


:where(button, input[type="button"], input[type="submit"], input[type="reset"]).outline:where(:not(:active):hover)::before {
  outline-offset : 0;
}

:where(button,input):where(:not(:active)):focus-visible {
  outline-offset : 0;
}